<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::headerFragment(pageTitle='Error | Walking Skeleton CI/CD')}">
    <title>Home Page</title>
</head>
<body>
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h3>Oops, something went wrong</h3>
        </div>
    </div>
    <div class="row mt-4" th:if="${status != null}">
        <div class="col">
            <span><strong>Status:</strong></span>
            <span th:text="${status}"></span>
        </div>
    </div>
    <div class="row mt-4" th:if="${error != null}">
        <div class="col">
            <span><strong>Error:</strong></span>
            <span th:text="${error}"></span>
        </div>
    </div>
    <div class="row mt-4" th:if="${message != null}">
        <div class="col">
            <span><strong>Message:</strong></span>
            <span th:text="${message}"></span>
        </div>
    </div>
</div>
</body>
</html>
